*.o
*.a
*.so
*.s
*.~
test/test
test/test_*
bench
bench_scalar
bench_stdapi
test_stdapi
misc_tests
test_nophobos
*.bc
*.out
*.data
*.old
*.deps
*.asm
*.gcda
*.ignore
*.swp
generated
generated-c
examples/*_example

